[Unit]
Description=Miles DevOps Case Study Gunicorn
After=network.target postgresql.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/app/miles-studycase/web_app
EnvironmentFile=/app/miles-studycase/web_app/.env
ExecStartPre=/app/miles-studycase/web_app/venv/bin/python -c "from app import init_db; init_db()"
ExecStart=/app/miles-studycase/web_app/venv/bin/gunicorn -c /app/miles-studycase/web_app/gunicorn.conf.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target